.Player {
    width: 275px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background: #eef;
    border-radius: 5px;
}
.Player-battletag {
    font-size: 120%;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}
.Player-desc {
    margin: 10px 0;
    flex: 1 0 auto;
    color: #666;
    line-height: 1.4;
}
